###################
# Example env values are preconfigured to work for local development with docker-compose
###################

# Auth.js secret - must be set in production
AUTH_SECRET=

# Authentication (using local keycloak)
VIDIS_CLIENT_ID=ais-chat-dev-client
VIDIS_CLIENT_SECRET=ClientSecret
VIDIS_BASE_URI=http://localhost:8080/realms/ais-chat-local
VIDIS_ISSUER_URI=http://localhost:8080/realms/ais-chat-local

# Persistence - ais-chat-app database
DATABASE_URL=postgresql://admin:test1234@127.0.0.1:5432/app_db
# Persistence - ais-chat-api database
API_DATABASE_URL=postgresql://admin:test1234@127.0.0.1:5432/api_db
# Caching of database query results for 5 minutes
DB_CACHE_TTL_SECONDS=300
OTC_SECRET_ACCESS_KEY=
OTC_ACCESS_KEY_ID=
OTC_S3_HOSTNAME=
OTC_BUCKET_NAME=

# Logging
SENTRY_AUTH_TOKEN=
SENTRY_ENVIRONMENT=development
SENTRY_DSN=
# fatal, error, warning, log, info, debug
NEXT_PUBLIC_SENTRY_LOG_LEVEL=

# URL to ais-chat-api
API_URL=http://127.0.0.1:3002

# Used for encryption of sensitive secrets stored in the database
ENCRYPTION_KEY=

# Monitoring
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://localhost:9090/api/v1/otlp/v1/metrics

# Valkey (Redis) configuration for session storage
VALKEY_URL="redis://localhost:6379/0"

# RabbitMq for reporting
RABBITMQ_URI=amqp://user:password@localhost:5672

# Loadtest configuration
LOADTEST_BASE_URL=http://localhost:3000
LOADTEST_IDP_HINT=
LOADTEST_PASSWORD=test
LOADTEST_USERNAME=test

# Crawl4AI configuration
CRAWL4AI_URL=http://localhost:11235

# Google Vertex AI (Image Generation): path to the service account json file
GOOGLE_APPLICATION_CREDENTIALS=

# Sentry sample rate for traces
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_TRACES_SAMPLE_RATE_CLIENT=0.1

# Used for Linkup web search
LINKUP_API_KEY=
