# Persistence - ais-chat-app database
DATABASE_URL=postgresql://admin:test1234@127.0.0.1:5432/app_db
# Persistence - ais-chat-api database
API_DATABASE_URL=postgresql://admin:test1234@127.0.0.1:5432/api_db
# Caching of database query results - should not be set in ais-chat-admin
DB_CACHE_TTL_SECONDS=

# Authentication
# Auth.js secret
AUTH_SECRET="REPLACE_ME"

# For local development keycloak
#KEYCLOAK_CLIENT_ID=ais-chat-dev-client
#KEYCLOAK_CLIENT_SECRET=ClientSecret
#KEYCLOAK_ISSUER=http://localhost:8080/realms/ais-chat-local

# Logging
SENTRY_AUTH_TOKEN=
SENTRY_ENVIRONMENT=development
SENTRY_DSN=
# fatal, error, warning, log, info, debug
NEXT_PUBLIC_SENTRY_LOG_LEVEL=

# Sentry sample rate for traces
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_TRACES_SAMPLE_RATE_CLIENT=0.1

# S3 Bucket config in OTC
OTC_SECRET_ACCESS_KEY="REPLACE_ME"
OTC_ACCESS_KEY_ID="REPLACE_ME"
OTC_S3_HOSTNAME="REPLACE_ME"
OTC_BUCKET_NAME="REPLACE_ME"
